@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    .borderbrown{
      border-color: #D0D0A7;
    }

    .borderblue{
      border-color:#0B8497;
    }

    .first{
      background-color: #E7F2ED
    }

    .txtblue{
      color:#04282D;
    }

    .txtbrown{
      color:#777777;
    }

    .second{
      background-color: #F2F2E6;
    }

    .brdrmnd{
      border-color:#808013;
    }

    .brdrpnk{
      border-color:#F8A488;
    }

}
